<div class="container mt-4 shadow-lg con " style="padding-bottom: 60px;width: 800px;">
  <div class="conatiner con">
    <div>
      <h1 class="text-center title" style="margin-bottom: 50px;">Login Form</h1>
    </div>
    <form action="" [formGroup]="LoginForm" (ngSubmit)="login()">
      <div class="form-group row" style="margin-top: 10px;">
        <label for="" class="col-sm-4 col-form-label">Email </label>
        <div class="col-sm-5">
          <input type="email" class="form-control" id="email" formControlName="email" required>
        </div>
      </div>
      <div class="form-group row" style="margin-top: 10px;">
        <label for="" class="col-sm-4 col-form-label">Password</label>
        <div class="col-sm-5">
          <input type="password" class="form-control" id="" formControlName="password" required>
        </div>
      </div>
      <div class="text-center" style="margin-top: 20px;">
        <button class="btn btn-primary" value="submit" onclick="return check()" style="width: 230px; height: 60px; font-size:28px; font-weight: bolder;">Login</button>
      </div>
    </form>
  </div>
</div>
<div class="text-center" style="margin-top: 20px;">

  <label class="">don't have an account? <a routerLink="/signup" style="color: #5e70e9; font-weight: bold;">  signup here </a> </label>
</div>

