.title::before{
  content: '';
  background: #5e70e9;
  height: 5px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform:translateY(75px)
}
span{
  color: #5e70e9;
  font-weight: bold;
}

