<div class="container mt-4 shadow-lg con " style="padding-bottom: 60px;width: 800px;">
  <div class="conatiner con">
    <div>
      <h1 class="text-center title" style="margin-bottom: 50px;">Update Details</h1>
    </div>
    <form action=""  [formGroup]="editSignupForm"(ngSubmit)="updateForm()">
      <div class="form-group row">
        <label for="" class="col-sm-4 col-form-label">First Name</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="" formControlName="firstname" required>
        </div>
      </div>
      <div class="form-group row" style="margin-top: 10px;">
        <label for="" class="col-sm-4 col-form-label">Last Name</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="" formControlName="lastname"required>
        </div>
      </div>
      <div class="form-group row" style="margin-top: 10px;">
        <label for="" class="col-sm-4 col-form-label">Email </label>
        <div class="col-sm-5">
          <input type="email" class="form-control" id="email" formControlName="email"required>
        </div>
      </div>
      <div class="form-group row" style="margin-top: 10px;">
        <label for="password" class="col-sm-4 col-form-label">Password </label>
        <div class="col-sm-5">
          <input type="password" class="form-control" id="password" formControlName="password" required>
        </div>
      </div>
      <div class="form-group row" style="margin-top: 10px;">
        <label for="Password" class="col-sm-4 col-form-label">Address</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="" formControlName="address" required>
        </div>
      </div>
      <div class="text-center" style="margin-top: 20px">
        <button class="btn btn-primary" type="submit" style="width: 230px; height: 60px; font-size:28px; font-weight: bolder;"><a routerLink="/listuser"></a>Update</button>
      </div>
    </form>
  </div>
</div>

